cvelistV5_path="./cvelistV5"
CHROMA_HOST="localhost"
CHROMA_PORT="8001"
CHROMA_CVES_COLLECTION="chromium_cves"
CHROMA_PATCHES_COLLECTION="chromium_patches"
CHROMA_EXPERIMENTS_COLLECTION="chromium_experiments"
CHROMA_MISTAKES_COLLECTION="chromium_mistakes"
